
/* ==========================================================================
   Base defaults
   ========================================================================== */

/* ==========================================================================
   Header
   ========================================================================== */


/* ==========================================================================
   Main
   ========================================================================== */

#poster-first{
    background: url("../img/ghost.jpg") center 0 no-repeat fixed;
    height    :600px;
}

#poster-second{
    background: url("../img/incept.jpg") center 0 no-repeat fixed;
    height    :600px;
}

#poster-third{
    background: url("../img/star.jpg") center 0 no-repeat fixed;
    height    :600px;
}

#poster-fourth{
    background: url("../img/blade.jpg") center 0 no-repeat fixed;
    height    :600px;
}

/* ==========================================================================
   Footer
   ========================================================================== */