<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar Umanis</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.basePath }}app/views/css/bootstrap.css">
    <link rel="stylesheet" href="{{ app.request.basePath }}app/views/css/main.css">
    <link rel="stylesheet" href="{{ app.request.basePath }}app/views/css/connexion.css">
</head>
<body>
<header>
    <div class="wrapper clearfix">
        <div class="row">
            <div class="col-md-4">
                <h1>
                    <img src="{{ app.request.basePath }}app/views/img/logo_umanis.png" alt="logo Umanis">
                </h1>
            </div>
        </div>
    </div>
</header>
<main>
   <h1>ERREUR ! Pas de login !</h1>

</main>
</body>
</html>